.flexRow {

  &--middle-text-section-op {
    background-image: url("assets/img/lp-one-piece/bg-middle-text.png");
    padding: 0 276px;
  }

  &Content {
    
    &--middle-text-section-op {
      align-items: center;
    }
  }
}