.paragraph {

    &--first-text-lp-op {
        font-family: open-sans;
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        color: white;
    }

    &--second-text-lp-op {
        font-family: open-sans;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: white;
    }
}