.paragraph {

    &--first-text-lp-op {
        font-family: $OpenSans;
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        color: white;
        margin: unset;

        @media (max-width: 1025px) {
            font-size: 23px;
            line-height: 31.32px;
            text-align: center;
        }
    }

    &--second-text-lp-op {
        font-family: $OpenSans;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: white;
    }
}