.container{

    &--product-error-message{

        .wrapper{

            .paragraph{
                max-width: 305px;
                font-size: 17px;
                font-weight: $bold;
                color: $gray-2;
                text-align: center;
            }
        }
    }
}