:global(.vtex-flex-layout-0-x-flexRow--img-product-info){
    .container{
        max-width: 1330px;
        margin: auto;

        @include media ('<phone'){
            padding: 0 12px;
        }
    }

    .swiper{

        &PaginationClickable{
            top: 0px;
        }

        &Bullet{
            width: 10px;
            height: 10px;
            border: 1px solid $gray-8;
            background: transparent;
            opacity: 1;
            margin: 0 7px;

            &--active{
                background: $gray-8;
            }
        }

        &-pagination{
            position: relative;
            padding: 13px 0;
            padding-bottom: 0;
        }
    }

    .product{

        &Description{

            &Container{
                padding: 13px;
            }

            &Text{
                font-size: 15px;
                font-weight: $regular;
                line-height: normal;
                color: $gray-8;
            }
        }

        &Name{

            &Container{
                margin-bottom: 30px;
                
                .productBrand{
                    display: block;
                    color: $gray-2;
                    font-weight: $bold;
                    
                    @include media ('>=desktop'){
                        font-size: 25px;
                        max-width: 273px;
                    }
                    
                    @include media ('<=tablet', '>phone'){
                        font-size: 28px;
                        max-width: 100%;
                    }
                    @include media ('<phone'){
                        font-size: 23px;
                        max-width: 100%;
                        margin-top: 31px;
                    }
                }
            }
        }
    }
}

.product{

    &Image{

        &Tag{

            &--main{
                max-width: 513px !important;
                max-height: 513px !important;
                background: $white;
            }
            
            &--zoom{
                background: $white;
            }
        }
    }
}