.infoCardHeadline {
    &--infocard-recipe-1 {
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        text-align: center;
    }
    &--infocard-recipe-2 {
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        text-align: center;
    }
    &--infocard-recipe-3 {
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        text-align: center;
    }
}