.container--title--food-service {
    .wrapper--title--food-service {
        .paragraph--title--food-service {
            color: $primary;
            text-align: center;
            font-family: $OpenSans;
            font-size: 20px;
            font-style: normal;
            font-weight: $bold;
            line-height: normal;
            margin: 0 0 20px;
        }
    }
}