.sliderLayoutContainer--bbb-shelf-products-slider {
    &::after {
        content: '';
        position: absolute;
        bottom: -80px;
        left: -270px;
        width: 245px;
        height: 209px;
        background: url('https://lojaajinomoto.vtexassets.com/assets/vtex.file-manager-graphql/images/93dd05fa-203b-4e0d-b4c6-6afa16b13294___5c604de19de42dfb61c6497858b0cab6.png') no-repeat;

        @include media('<=tablet') {
            left: -190px;
            bottom: 400px;
        }

        @include media('<=phone') {
            display: none;
        }
    }
}

.slider {
    &TrackerContainer {
        &--categories-slider {
            overflow: hidden;
        }
    }
}
