.flexRowContent--footer-blog {
	.stretchChildrenWidth {
		@include media("<=phone") {
			justify-content: flex-start;
			margin: 20px 0;
		}
	}
}

.flexRow--footer-data {
	margin-bottom: 40px;
	.flexRowContent--footer-data {
		@include media(">phone", "<=tablet") {
			justify-content: center;
		}
		.stretchChildrenWidth:first-child {
			// width: auto !important;
			margin-right: 2.5%;
			@include media(">phone", "<=tablet") {
				margin-right: 3%;
			}
		}
	}
}

.flexRow--links-mb {
	:global(.vtex-store-components-3-x-container) {
		padding: 0;
	}
}

.flexRow--footer-mobile-icon {
	.flexRowContent--footer-mobile-icon {
		display: flex;
		padding: 15px 0 0;
		margin-bottom: 12px;		
	}
    &.flexRow--redes-sociais {
        margin-top: 35px;
        .flexRowContent--redes-sociais {
            border-top: 1px solid $gray-2;
        }
    }
}

.flexRow--copyright-store {
	margin-top: 20px;
    @include media("<=phone") {
        margin-top: 14px;
        .flexRowContent--copyright-store {
            border-top: 1px solid $gray-2;
        }
    }
}

.flexColChild--bottom-links-footer,
.flexColChild--platform-data,
.flexColChild--copyright-data {
	@include media("<=phone") {
		display: flex;
		justify-content: center;
	}
}

.flexRow--payments-wrapper{
	display: flex;
    margin: auto;
	@include media(">phone") {
		width: 80%;
	}
	@include media("<=phone") {
		width: 100%;
	}
	.flexRowContent--payments-wrapper{
		display: flex;
		@include media ("<=phone"){
			flex-wrap: wrap;
			justify-content: center;
		}
		.stretchChildrenWidth{
			@include media("<=phone") {
				width: 12% !important;
				margin: 5px;
			}
		}
	}
}

.flexColChild--payments-data{
	width: 100%;
	&:last-child{
		@include media ("<=tablet", ">phone"){
			margin-bottom: 50px;
		}
	}
}