.container--title-footer {
    .wrapper--title-footer {
        .paragraph--title-footer {
            color: $black;
            font-family: $OpenSans;
            font-size: 20px;
            font-style: normal;
            font-weight: $bold;
            line-height: normal;
            margin: 0 0 10px ;
        }
    }
}