.infoCardContainer--blog-footer {
    border-radius: 10px;
    background: $orange-2;
    width: 100%;
    max-width: 252px;
    flex-shrink: 0;
    padding: 16px 20px;
    @include media("<=phone") {
        display: flex;
    }
    @include media(">phone","<=tablet") {
        padding: 0px  8px 12px;
        max-width: 135px;
        height: 143px;
        position: relative;
    }
}

.infoCardTextContainer--blog-footer {
    padding: 0;
    width: auto !important;
    .infoCardHeadline--blog-footer {
        color: #000;
        font-family: $OpenSans;
        font-size: 18px;
        font-style: normal;
        font-weight: $bold;
        line-height: normal;
        margin: 0 0 10px;
        @include media(">phone","<=tablet") {
            font-size: 14px;
            max-width: 61px;
        }
    }   
}

.infoCardCallActionContainer--blog-footer {
    margin: 0;
    :global(.vtex-button) {
        border-radius: 5px;
        border: none;
        background: $secondary;
        width: 121px;
        min-height: 28px;
        padding: 0 !important;
        @include media(">phone","<=tablet"){
            width: 109px;
            min-height: 23px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 10px auto 0;
        }

        :global(.vtex-button__label) {
            color: $white;
            text-align: center;
            font-family: $OpenSans;
            font-size: 12px;
            font-style: normal;
            font-weight: $bold;
            line-height: normal;
            text-transform: capitalize;
            padding: 0 !important;
        }
    }
}

.infoCardImageContainer--blog-footer {
    text-align: center;
    width: 100% !important;
    max-width: 60px;
    margin-right: 30px;
    @include media(">phone","<=tablet") {
        margin-right: 10px;
    }
    @include media("<=tablet") {
        min-width: 49px;
    }
    
    .infoCardImage--blog-footer {
        width: 100%;
        @include media(">phone","<=tablet") {
            position: relative;
            top: -8px;
        }
    }
}