.whatsapp{

    &-floating{

        &-button{
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9;

            &-link{
                display: flex;
                flex-flow: column;
                align-items: flex-end;
                text-decoration: none;
                color: #4f4f4f;
            }

            &-message{
                background: #f2f2f2;
                padding: 10px 15px;
                border-radius: 25px;
            }
        }
    }
}