.menuMobileAccount__item {
	border-radius: 10px;
    border: 1px solid #EE6262;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(7.5px);
    padding: 7px 10px;
	margin-right: 10px;
	min-width: 155px;
}


.js-menuMobileAccount {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	padding: 0 0 0 20px;
	margin-bottom: 30px;
	height: 56px;
	position: relative;

	&::-webkit-scrollbar {
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 5px;
		border: none;
	}

	.user-logged {
		margin-right: 0;
		.login-button-text {
			display: none;
			&.login-button-text__mobile {
				display: flex;
			}
		}
	}


	.modal-logged-open  {
		display: none;
	}
}

.vtex-flex-layout-0-x-flexRowContent--client-area-links {
	&::-webkit-scrollbar {
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 5px;
		border: none;
	}

	& > .vtex-flex-layout-0-x-stretchChildrenWidth {
		width: initial !important;
	}
}
