.sliderLayoutContainer--slider-central {
  max-width: 1366px;
  margin: 0 auto;
 
  :global(.vtex-store-components-3-x-imageElement--slider-central){
    border-radius: 10px;
    border: 1px solid $primary;
  }
}
