:global(.vtex-flex-layout-0-x-flexRowContent--shelf-banner-manioca-wrapper){
    
    .sliderLayoutContainer--product-carousel-manioca{
        right: -40px;
        .sliderLeftArrow--product-carousel, .sliderRightArrow--product-carousel{
            background-image: url('assets/img/lp-manioca/arrow-slider-manioca.png')!important;
            height: 38px;
            width: 39px;
            .caretIcon--product-carousel-manioca{
                display: none;
            }
        }
        .sliderLeftArrow--product-carousel{
            transform: rotate(180deg);
        }
    }
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-manioca-wrapper){
    .sliderLayoutContainer--product-carousel-manioca{
        .sliderLeftArrow--product-carousel, .sliderRightArrow--product-carousel{
            background-image: url('assets/img/lp-manioca/arrow-slider-manioca-bottom.png')!important;
            height: 38px;
            width: 38px;
            .caretIcon--product-carousel-manioca{
                display: none;
            }
        }
        .sliderLeftArrow--product-carousel{
            transform: rotate(180deg);
        }
        .paginationDot{
            background-color: transparent;
            &--product-carousel-manioca{
                border: 1px solid $white;
            }
            &--isActive{
                background: $white;
            }
            &sContainer{
                bottom: -25px;
            }
        }
    }
}