:global(.vtex-flex-layout-0-x-flexRow--lp-manioca-wrapper){
    .container{
        @media only screen and (max-width: 1366px) {
            padding: 0;
        }
    }
    .infoCardContainer--item-linha{
        flex-direction: column;
        gap: 0;
        justify-content: start;
        position: relative;
        margin: 0 15px;
        padding: 20px 15px 80px; 
        border-radius: 10px;
        background-size: cover;
        box-shadow: 0 0 25px rgba(0,0,0,0.3);
        @include media ('>phone','<=tablet'){
            margin: 25px 15px;
        }
        &-1{
           background-image: url('assets/img/lp-manioca/linha1-bg.png');
        } 
        &-2{
            background-image: url('assets/img/lp-manioca/linha2-bg.png');
        } 
        &-3{
            background-image: url('assets/img/lp-manioca/linha3-bg.png');
        } 
        &-4{
            background-image: url('assets/img/lp-manioca/linha4-bg.png');
        }   
        .infoCardTextContainer--item-linha{
            width: auto!important;
            padding: 0;
            .infoCard{
                &Headline--item-linha{
                    font-size: 18px;
                    font-weight: $bold;
                    line-height: 24px;
                    margin: 0;
                    color: $manioca-green;
                }
                &Subhead--item-linha{
                    font-size: 16px;
                    font-weight: $medium;
                    line-height: 22px;
                    text-align: center;
                    color: $manioca-green;
                    margin: 20px 0 40px;
                    min-height: 110px;
                    @include media ('<=phone'){
                        margin: 20px 0 0px;
                    }
                }
                &CallActionContainer--item-linha{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 0 15px;
                    :global(.vtex-button){
                        width: 100%;
                        background: $manioca-gray-2;
                        color: $black;
                        border: none;
                        border-radius: 74px;
                        :global(.vtex-button__label){
                            text-align: left;
                            justify-content: start;
                            text-transform: none;
                            font-size: 16px;
                            color: $manioca-green;
                            font-weight: $medium;
                            position: relative;
                            &::after{
                                content: '';
                                height: 18px;
                                width: 18px;
                                background-image: url('https://lojaajinomoto.vtexassets.com/assets/vtex.file-manager-graphql/images/f59cc727-b4f8-495b-a430-c389bd6d6ca3___69761d7904160341d1967fa634e7ddca.png')!important;
                                display: block;
                                position: absolute;
                                right: 32px;
                            }
                        }
                    }
                }
            }
        }
        .infoCardImageContainer--item-linha{
            width: auto;
            @include media ('<=phone'){
                display: flex;
                justify-content: center;
            }
        }
    }
}