.container--layout {
    max-width: 1170px;
    @include media(">desktop") {
        max-width: 1366px;
    }
}

.filterMessage {
    color: $black;
    font-family: $OpenSans;
    font-size: 28px;
    font-style: normal;
    font-weight: $semi-bold;
    line-height: normal;
}

.orderByDropdown  {
    .orderByButton  {
        border: none;
        pointer-events: none;
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 30px;
        .orderByText {
            color: $black;
            font-family: $OpenSans;
            font-size: 18px;
            font-style: normal;
            font-weight: $semi-bold;
            line-height: normal;
            &::after {
                content: ":";
            }
        }
        .filterPopupArrowIcon  {
            display: none;
        }
    }
    .orderByOptionsContainer  {
        position: relative;
        display: block;
        border: none;
        box-shadow: none;
    }

    .orderByOptionItem {
        background: none;
        padding: 0;
        margin-bottom: 10px;
        &--selected {
            color: $primary;
            font-family: $OpenSans;
            font-size: 18px;
            font-style: normal;
            font-weight: $semi-bold;
            line-height: normal;
        }
        &:hover {
            background: none;
        }
    }
}