// Definição das cores principais
$primary: #3D1151;
$green: #2EB618;
$pink: #D21E7E;


// Neutras
$white: white;
$black: black;


//Tons de Cinza
$gray-1: #111111;
$gray-2: #545454;
$gray-3: #737373;
$gray-4: #8D8D8D;
$gray-5: #8E8E93;
$gray-6: #9A9A9A;
$gray-7: #ACACAC;
$gray-8: #CDC3D1;
$gray-9: #CECECE;
$gray-10: #D4D4D4;
$gray-11: #D9D9D9;
$gray-12: #DCECFF;
$gray-13: #DEDEDE;
$gray-14: #EFEFF4;
$gray-15: #EFFFF0;
$gray-16: #F3F3F3;
$gray-17: #FDFDFD;
$gray-18: rgba(255, 255, 255, 0.5);
$gray-19: #BDBDBD;


// Tons de roxo
$purple-1: #1a0025;
$purple-2: #2E0B3E;
$purple-3: #370F49;
$purple-4: #6E4D7D;
$purple-5: #9A86A3;
$purple-6: #A896C6;
$purple-7: #CDC3D1;
$purple-8: #F3D8FF;
$purple-9: #FAEEFF;
$purple-10: #FFE7F8;
$purple-11: #923868;
$purple-12: rgba(110, 77, 125, 0.5);
$purple-13: rgba(55, 15, 73, 0.5);
$purple-14: #F2E4F9;
$purple-15: #B9ABC0;


// Tons de vermelho
$red-1: #A10E11;
$red-2: #F84548;
$red-3: #FF8C80;
$red-4: #E7C2C3;
$red-5: #F3D1D1;
$red-6: #FF0000;