// Definição das cores principais
$primary: #EE6262;
$secondary: #A53127;


//Tons de verde
$green-1: #0A3F40;
$green-2: #4AA162;
$green-3: #6CB971;


//Tons de azul
$blue-1: #0A1C40;
$blue-2: #0D3456;
$blue-3: #005CB9;
$blue-4: #0063AF;
$blue-5: #E4EFFF;


// Neutras
$white: white;
$black: black;


//Tons de Cinza
$gray-1: #13110C;
$gray-2: #3C3C3C;
$gray-3: #545454;
$gray-4: #575757;
$gray-5: #666666;
$gray-6: #6F6F6F;
$gray-7: #707070;
$gray-8: #8E8E93;
$gray-9: #A4A4A4;
$gray-10: #A7A7A7;
$gray-11: #DADADA;
$gray-12: #DEDEDE;
$gray-13: #EFEFF4;
$gray-14: #E6E6E6;
$gray-15: #F8F8F8;
$gray-16: #F3F3F3;
$gray-17: #F2F2F2;
$gray-18: #E7E7E7;
$gray-19: #C7C7C7;
$gray-20: #A5A5A5;
$gray-21: #919198;
$gray-22: #A7A8A9;
$gray-23: #ECECEC;
$gray-24: #8C8C8C;
$gray-25: #CFCFCF;
$gray-26: #EAEAEA;
$gray-27: #CECECE;
$gray-28: #9A9A9A;

 
// Tons de laranja
$orange-1: #EF781C;
$orange-2: #FFF0DE;
$orange-3: #FFF6EC;
$orange-4: #FFD4A1;


// Tons de vermelho
$red-1: #CB3533;
$red-2: #E52B4F;
$red-3: #E60012;
$red-4: #EC1B24;
$red-5: #F2D7D7;

// Transparências

$black-80: rgba(0, 0, 0, 0.8);

// Degradê

$gradient-red: linear-gradient(90deg, #EE6262 8.71%, #E60012 100%);