// Fonte do projeto
$Barlow: 'Barlow', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;


// Espessura das fontes
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-bold: 900;
