.container{

    &--minicart-footer-title{

        .wrapper{

            .paragraph{
                font-size: 24px;
                font-weight: $medium;
                color: $black;
                margin: 0;
            }
        }
    }

    &--empty-cart-title{
        
        .wrapper{

            .paragraph{
                font-size: 24px;
                text-align: center;
                color: $red-3;
                font-weight: $extra-bold;
                margin: 0;
            }
        }
    }

    &--empty-cart-funnysubtext{

        .wrapper{

            .paragraph{
                font-size: 20px;
                text-align: center;
                color: $red-3;
                font-weight: $extra-bold;
                max-width: 250px;
                margin-bottom: 0;
            }
        }
    }

    &--empty-cart-subtext{

        .wrapper{

            .paragraph{
                text-align: center;
                max-width: 264px;
                font-size: 12px;
                margin-top: 0;
            }
        }
    }
}