:global(.vtex-minicart-2-x-minicartEmptyStateContainer){

    .imageElement{
        width: 180px;
    }
}

.image {
	&Element {
		&--minicart--icon {
			width: 34px;
			height: 33px;
			display: block;
		}
	}
}
