.flex {
	
	&Row {
		
		&--header {
			
			&--desktop {
				margin: 0 auto;	
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index: 90;
				
				:global(.vtex-store-components-3-x-container) {
					display: flex;
					flex-flow: row nowrap;
					width: 100%;					
					margin: 0 auto;
					
					@media (min-width: 1441px) {
						max-width: 1443px;
						padding: 0;
					}
					
					@media (max-width: 1440px) {
						max-width: 100%;
						padding: 0 45px;
					}
				}
			}

			&--account {

				:global(.vtex-button) {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: flex-start;
					height: 40px;
					gap: 0 7px;
					padding-right: 14px;
					border: 1px solid $pink;
					border-radius: 30px;

					&::before {
						content: url('assets/svg/ico_user.svg');
						display: block;
						margin-left: -1px;
						margin-top: 2px;
					}

					&:hover {
						background-color: $purple-2;
					}
				}

				:global(.vtex-button__label) {
					padding: 0 !important;

					:global(.vtex-login-2-x-label) {
						display: block;
						padding: 0;
						font-size: 0;
						text-align: left;
						text-transform: none;

						&::before {
							content: "Entrar";
							display: block;
							font-family: $Poppins;
							font-size: 14px;
							font-weight: $bold;
							color: $white;
							line-height: 16px;
						}

						&::after {
							content: "cadastrar";
							display: block;
							font-family: $Poppins;
							font-size: 14px;
							font-weight: $regular;
							color: $white;
							line-height: 16px;
						}
					}
				}
			}

			&--minicart {

				:global(.vtex-button) {
					display: block;
					width: 40px;
					height: 40px;
					background: url('assets/svg/ico_cart.svg') center no-repeat;
					background-size: contain;
					border: 0;

					:global(.vtex-button__label) {
						padding: 0 !important;
					}

					:global(.vtex-minicart-2-x-cartIcon) {
						display: none;
					}
				}
			}

			// MOBILE
			&--mobile {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: 0 auto;	
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				background: $primary;
				border-radius: 0 0 10px 10px;
				z-index: 90;

				:global(.vtex-store-components-3-x-container) {
					display: block;
					width: 100%;
					max-width: 100%;
					padding: 0;
				}
			}
		}

		// MOBILE
		&--menu {

			&--mobile {
				display: flex;
				flex-flow: row nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
			}
		}

		&--client-area {

			&--title {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				padding: 0 20px;
				margin-top: 20px;
			}

			&-links {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				padding: 0 0 0 20px;
			}

			&-login {
				
				:global(.vtex-button) {
					display: block;
					width: 157px;
					height: 50px;
					padding: 0 10px;					
					background: transparent;
					border: 1px solid $primary;
					border-radius: 10px;
					cursor: pointer;
				}

				:global(.vtex-button__label) {
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: flex-start;
					padding: 0 !important;

					&::before {
						content: url('assets/svg/ico_user-mob.svg');
					}
				}

				:global(.vtex-login-2-x-label) {
					display: flex;
					flex-flow: column nowrap;
					align-items: flex-start;
					justify-content: flex-start;
					width: 100%;
					padding: 0;
					margin-left: 10px;
					font-family: $Poppins;
					font-weight: $regular;
					font-size: 0;
					color: $gray-1;
					text-transform: none;

					&::before {
						content: "Entrar ";
						font-size: 14px;
						line-height: 18px;
						display: contents;
					}

					&::after {
						content: "ou cadastrar";
						font-size: 14px;
						line-height: 18px
					}
				}
			}
		}
		
		&Content {
			
			&--header {
				
				&--desktop {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 15px 25px 15px 31px;
					background: $primary;
					box-shadow: 0 8px 12px rgba(26, 0, 37, .25);
					border-radius: 0 0 10px 10px;
				}

				&--container-client {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: flex-end;
					gap: 0 30px;
					position: relative;
				}

				&--mobile {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 12px 30px;
				}
			}

			// MOBILE

			&--client {

				&-area {

					&-links {
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						justify-content: flex-start;
						width: 100%;
						gap: 0 6px;
						overflow-x: auto;
					}

					:global(.vtex-login-2-x-buttonLink) {

						:global(.vtex-button__label) {
							flex-flow: row;
							overflow: hidden;
						}

						:global(.vtex-login-2-x-profile) {
							color: $gray-1;
						}
					}
				}
			}
		}
	}

	&Col {

		// MOBILE
		&--menu {

			&--mobile {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
				gap: 51px 0;
			}
		}

		&--client {

			&-area {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
				gap: 10px 0;
			}
		}

		&Child {

			&--menu {

				&--mobile {
					width: 100%;
				}
			}

			&--client {

				&-area {
					width: 100%;
				}
			}
		}
	}
}