.flex {
	
	&Row {
		
		&--header {
			
			&--topbar {
				background: $primary;
				
				:global(.vtex-store-components-3-x-container) {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: center;
					width: 100%;
					max-width: 100%;
					padding: 0;
				}
			}
			
			&--content {
				background: $white;
				
				:global(.vtex-store-components-3-x-container) {
					width: 100%;
					max-width: 1170px;
					padding: 16px 0 31px;

					@include media(">=laptop","<desktop") {
						padding: 16px 16px 31px;
					}
					
					@include media("<=tablet") {
						padding: 7px 15px;
					}
				}
			}
			
			&--infos-client {
				align-items: center;
				display: flex;
			}			
		}
		
		
		&Content {			
			&--header {				
				&--container {					
					&-top {
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						margin-bottom: 15px;
						
						&-mobile {
							justify-content: space-between;
							.stretchChildrenWidth {
								width: initial !important;
								text-align: center;
							}
						}
					}
				}
				
				&--infos-client {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: space-between;
					gap: 0 20px;
					@include media("<=phone") {
						justify-content: space-between;
						gap: unset;
					}
				}
			}
		}
	}
	
	&ColChild {
		&--header{
			&--container{
				display: none;
				&:first-child {
					display: block;
				}
			}
		}
	}
}
