.menu {
	
	&ContainerNav--category-menu_desk {
		
		.menuContainer {		
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			gap: 0 30px;
			
			.menuItem {
				
				.styledLink {
					
					&Container {
						padding: 0;
						margin: 0;
					}
					
					&Content {
						display: block;
						font-family: $Poppins;
						font-weight: $medium;
						font-size: 16px;
						color: $white;
						line-height: 24px;
					}
				}
			}
		}
	}
	
	&ContainerNav--category-menu_mob {
		
		.menuContainer {		
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;
			padding: 0 30px 0 20px;
			
			.menuItem {
				display: block;
				width: 100%;
				
				&:first-child {
					
					.styledLink {
						
						&Container {
							padding: 0 0 16px;
						}
					}
				}
				
				.styledLink {
					
					&Container {
						display: block;
						width: 100%;
						padding: 16px 0;
						margin: 0;
						border-bottom: 1px solid rgba(55, 15, 73, .25);
					}
					
					&Content {
						display: block;
						font-family: $Poppins;
						font-weight: $medium;
						font-size: 16px;
						color: $purple-4;
						text-transform: uppercase;
						line-height: 24px;
					}
				}
			}
		}
	}
}