.trigger {

	&Container {

		&--search-fixed-desktop {
			cursor: pointer;
		}

		&--search-sticky-desktop {
			cursor: pointer;
		}
	}
}

.modal--modal--search-desktop {

}

.container--modal--search-desktop {
	align-items: flex-start;

	.paper--modal--search-desktop {
		margin: 0 auto;
		top: 48px;
    	width: 100%;
		max-width: 1000px;
		padding: 32px 0;
		max-height: fit-content;
		align-items: center ;
		border-radius: 0px 0px 10px 10px;
		background: #FFF;
	}
}
