.container {
    
}

.paragraph {

    &--client {

        &-area {

            &-title {
                display: block;
                width: 100%;
                margin: 0;
                font-family: $Poppins;
                font-weight: $regular;
                font-size: 24px;
                color: $gray-1;
                text-align: left;
                line-height: 26px;
            }
        }
    }
}