.close-btn {
    display: none;
}

.itemListTitle, .tileListTitle {
    color: $black;
    font-family: $OpenSans;
    font-size: 18px;
    font-style: normal;
    font-weight: $bold;
    line-height: normal;
    text-transform: none;
}

