.link {
	
	&--link {

		&-my-orders {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-start;
			width: 157px !important;
			height: 50px;
			padding: 0 10px;
			border: 1px solid $primary;
			border-radius: 10px;
			text-decoration: none;
			cursor: pointer;

			&::before {
				content: url('assets/svg/ico_orders-mob.svg');
			}
		}

		&-wishlist {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-start;
			width: 157px !important;
			height: 50px;
			padding: 0 10px;
			border: 1px solid $primary;
			border-radius: 10px;
			text-decoration: none;
			cursor: pointer;

			&::before {
				content: url('assets/svg/ico_wishlist-mob.svg');
			}
		}
	}
}

.label {
	
	&--link {

		&-my-orders {
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			width: 57px;
			margin-left: 10px;
			font-family: $Poppins;
			font-weight: $regular;
			font-size: 14px;
			color: $gray-1;
			line-height: 18px;
			text-align: left;
		}

		&-wishlist {
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			margin-left: 10px;
			font-family: $Poppins;
			font-weight: $regular;
			font-size: 14px;
			color: $gray-1;
			line-height: 18px;
		}
	}
}