@import "../../../styles/scss/variables/_all.scss";

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	// scrollbar-color: $red $white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 7px;
}

*::-webkit-scrollbar-track {
	// background: $white;
}

*::-webkit-scrollbar-thumb {
	// background-color: $red;
	border-radius: 10px;
	// border: 1px solid $white;
}

//Largura máxima do Render

.render-container {
	max-width: 1920px;
	margin: auto;
}