.flexRowContent {
    &--third-slider-image {
        align-items: center
    }

    &--third-slider-image .stretchChildrenWidth {
        &:last-child {
            max-width: 773px !important
        }
    }
}

.flexRow {
    &--third-slider-image {
        padding-top: 50px;
        max-width: 1428px;
        margin: 0 auto;
    }
}