@import "../../../styles/scss/variables/_all.scss";

.minicart {
	
	&-footer {
		
		&__container {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}
		
		&__fields {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: flex-start;
			width: 100%;

			@include media('>phone') {
				padding: 0 37px 0 47px;
			}

			@include media('<=phone') {
				padding: 0 20px;
			}
		}
		
		&__field {
			
			&--shipping {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				
				.shipping {
					display: block;
					width: 100%;
					padding: 0;
					margin: 0;
					
					&-title {
						display: none;
					}
					
					&-link {
						display: block;
						width: 100%;
						margin-top: 10px;
						font-family: $OpenSans;
						font-weight: $regular;
						font-size: 12px;
						color: $gray-6;
						text-decoration: underline;
						line-height: 14px;
					}
				}
			}
			
			&--coupon {
				display: flex;
				flex-flow: row nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
				margin-top: 20px;
				
				.coupon {
					
					&-custom {
						display: flex;
						flex-flow: column nowrap;
						align-items: flex-start;
						justify-content: flex-start;
						width: 100%;
						
						&-title {
							display: block;
							width: 100%;
							margin: 0 0 8px;
							font-family: $OpenSans;
							font-weight: $medium;
							font-size: 16px;
							color: black;
							line-height: 24px;
						}
						
						form {
							display: flex;
							flex-flow: column nowrap;
							align-items: flex-start;
						}
						
						fieldset {
							display: block;
							width: 100%;
							padding: 0;
							margin: 0;
							border: none;
							position: relative;
							
							.input-group {
								display: block;
								width: 100%;
							}
							
							#coupon-input {
								display: block;
								width: 100%;
								height: 45px;
								background: $white;
								border: 1px solid $gray-10;
								border-radius: 50px;
								font-family: $OpenSans;
								font-weight: $semi-bold;
								font-size: 14px;
								color: black;

								@include media('>=desktop') {
									padding: 12px 125px 12px 40px;
								}

								@include media('<desktop') {
									padding: 12px 125px 12px 20px;
								}
								
								&::placeholder {
									font-weight: $regular;
									color: $gray-6;
								}
							}
							
							button {
								display: block;
								width: 121px;
								height: 45px;
								padding: 0;
								margin: 0;
								position: absolute;
								top: 0;
								right: 0;
								background: $white;
								border: 1px solid black;
								border-radius: 50px;
								font-family: $OpenSans;
								font-weight: $regular;
								font-size: 14px;
								color: black;
								text-align: center;
								cursor: pointer;
								line-height: 21px;
							}
						}
					}
					
					&-message {
						display: block;
						width: 100%;
						margin-top: 6px;
						font-family: $OpenSans;
						font-weight: $regular;
						font-size: 12px;
						color: $gray-5;
						text-align: left;
						line-height: 14px;
					}
				}
			}
			
			&--vendor {
				display: none !important;
			}
		}
		
		&-shipping {
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;
			gap: 15px 0;
			margin-top: 15px;
			
			&__title-resume {
				display: block;
				width: 100%;
				margin: 0;
				font-family: $OpenSans;
				font-weight: $regular;
				font-size: 14px;
				color: $gray-1;
			}
			
			&__list {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
				max-height: 150px;
				gap: 15px 0;
				padding: 5px 15px 5px 5px;
				overflow-y: auto;
				
				&::-webkit-scrollbar {
					height: 3px;
				}
				
				&::-webkit-scrollbar-track {
					background:black;					
				}
				
				&::-webkit-scrollbar-thumb {
					background: $primary;
					border: none;
				}
			}
			
			&__item {
				display: flex;
				flex-flow: row-reverse nowrap;
				align-items: center;
				justify-content: flex-start;
				min-width: 265px;
				max-width: 265px;
				background:black;
				border: 1px solid $primary;
				border-radius: 10px;
			}
			
			&__input {
				display: none;
				width: 20px;
				height: 20px;
				background: $white;
				border: 1px solid $gray-10;
				border-radius: 50%;
				appearance: none;
				cursor: pointer;
				
				&:checked {
					border: 5px solid $white;
					background: $primary;
				}
			}

			&__label {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				gap: 0 10px;
			}

			&__icon {
				display: block;
			}

			&__infos {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
			}

			&__name {
				display: block;
				width: 100%;
				margin: 0;
				font-family: $OpenSans;
				font-weight: $semi-bold;
				font-size: 16px;
				color:black;
				text-align: left;
				line-height: 24px;
			}

			&__price {
				display: inline-block;
				margin: 0;
				font-family: $OpenSans;
				font-weight: $regular;
				font-size: 14px;
				color:black;
				line-height: 21px;
				text-align: left;
			}
		}
		
		&__summary {
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;

			@include media('>phone') {
				padding: 0 27px;
			}

			@include media('<=phone') {
				padding: 0 20px;
				margin-top: 30px;
			}
			
			&-content {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
				padding: 15px 15px 18px;
				background:black;
				border-radius: 20px 20px 0 0;
				
				& > span {
					display: block;
					width: 100%;
					margin-bottom: 12px;
					font-family: $OpenSans;
					font-weight: $medium;
					font-size: 20px;
					color: black;
					line-height: 30px;
				}
			}
		}
		
		&__totalizers {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid $gray-9;
			
			&:first-of-type {
				padding: 0 0 10px;
			}
			
			&-label {
				display: block;
				font-family: $OpenSans;
				font-weight: $regular;
				font-size: 14px;
				color: $gray-2;
				text-align: left;
				line-height: 21px;
				
				&.discount__label {
					color: black;
				}
				
				&.total__label {
					font-weight: $medium;
					font-size: 20px;
					color: black;
				}
			}
			
			&-value {
				display: block;
				font-family: $OpenSans;
				font-weight: $semi-bold;
				font-size: 14px;
				color: $gray-3;
				text-align: right;
				line-height: 21px;
				
				&.discount__value {
					color: black;
				}
				
				&.total__value {
					font-weight: $semi-bold;
					font-size: 24px;
					color: black;
				}
			}
			
			&--total {
				padding: 10px 0 0;
				border-bottom: none;
			}
			
			&--installment {
				padding: 0;
				margin-top: 6px;
				border: none;
				
				.installment__value {
					font-weight: $regular;
					font-size: 12px;
					color: black;
					line-height: 18px;
				}
			}
		}
		
		&__buttons {
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;
			gap: 14px 0;
			margin-top: 8px;
		}
		
		&-link {
			display: block;
			width: 100%;
			text-decoration: none;
		}
		
		&-button {
			display: block;
			width: 100%;
			height: 45px;
			padding: 0;
			margin: 0;
			background: black;
			border: none;
			border-radius: 5px;
			font-family: $OpenSans;
			font-weight: $regular;
			font-size: 18px;
			color: $white;
			text-align: center;
			line-height: 27px;
			cursor: pointer;
			
			&--outline {
				display: block;
				width: 100%;
				height: 45px;
				padding: 0;
				margin: 0;
				background: transparent;
				border: 1px solid black;
				border-radius: 5px;
				font-family: $OpenSans;
				font-weight: $semi-bold;
				font-size: 18px;
				color: black;
				text-align: center;
				cursor: pointer;
				line-height: 27px;
			}
		}
	}
}