:global(.vtex-flex-layout-0-x-flexRow--menu-texto-wrapper) {
    .container {
        max-width: 1407px;
        margin: auto;
    }
}

:global(.vtex-flex-layout-0-x-flexRow--history-brand),
:global(.vtex-flex-layout-0-x-flexRow--video-content),
:global(.vtex-flex-layout-0-x-flexRow--items-mission-vision),
:global(.vtex-flex-layout-0-x-flexRow--content-values){
    
    :global(.vtex-store-components-3-x-container) {
        max-width: 1187px;
        margin: 0 auto 10px auto;

        @include media('<=desktop') {
            margin: 0 auto 0px auto;
        }

    }
}

:global(.vtex-flex-layout-0-x-flexRow--items-mission-vision){
    :global(.vtex-store-components-3-x-container) {

        @include media('<=desktop') {
            margin: 0 auto 0px auto;
            padding: 0;
        }

    }
}

:global(.vtex-flex-layout-0-x-flexRow--content-values){
    :global(.vtex-store-components-3-x-container) {

        @include media('<=desktop') {
            margin: 0 auto 0px auto;
            padding: 0;
        }

    }
}


.infoCardContainer {

    &--info-card-institucional {
        width: 100%;
        height: 500px;
        max-width: 1920px;
        text-transform: uppercase;

        @include media('<=desktop') {
            height: 271px;
        }
    }
}

.infoCardCallActionContainer {
    &--info-card-institucional {

        :global(.vtex-button) {
            position: relative;
            top: 154px;
            background: none;
            appearance: none;
            border: none;
            cursor: initial;
            font-size: 45px;
            text-align: left;
            font-weight: $bold;
            font-family: $OpenSans;

            @include media('<=desktop') {
                top: 90px;
                font-size: 29px;

            }

            :global(.vtex-button__label) {
                padding: 0 1em 0 0;
            }
        }
    }
}