.infoCardContainer {
  &--info-card-marca {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background: transparent;
    border: 1px solid $primary;
    border-radius: 10px;
    padding: 17px 22px;
    height: 630px;
    @include media ('<=phone'){
      margin-left: 20px;
    }

    .infoCardImageContainer {
      width: 206px;
      height: 206px;
      border-radius: 50%;
      border: 1px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .infoCardTextContainer {
      width: 100%;

      .infoCardHeadline, .infoCardSubhead {
        color: $white;
      }

      .infoCardHeadline {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: $bold;
        font-size: 20px;
      }

      .infoCardSubhead {
        font-size: 14px;
        line-height: 160%;
      }

      .infoCardCallActionContainer--info-card-marca {
        background: $primary;
        margin: 15px 0 0;
        align-self: center;
        padding: 12px 15px;
        text-decoration: none;
        position: absolute;
        bottom: 20px;
        border-radius: 5px;
        .infoCardCallActionText--info-card-marca{
          margin: 0;
          text-decoration: none;
          color: $white;
          font-weight: $semi-bold;
        }
      }
    }
  }
}
