.flexRow--main-banner {
    margin-bottom: 36px;
}

.flexRow--home-section {
    margin: 0 0 50px;
    :global(.vtex-store-components-3-x-container) {
        max-width: 1170px;
    }
}


.flexRow--home-deals {
    :global(.vtex-store-components-3-x-container) {
        padding: 0;
        border-radius: 10px;
        background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #F3F3F3;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        padding: 25px 0;
    }

    .flexRowContent--home-deals {
        justify-content: space-between;
        :last-child {
            :global(.vtex-store-components-3-x-infoCardContainer--home-deals) {
                border: none;
            }
        }
    }
}

.flexRow--home-prateleira {
    margin: 0 0 80px;
    :global(.vtex-store-components-3-x-container) {
        max-width: 1170px;
    }
}

.flexRow--core-banner,
.flexRow--final-banner {
    margin: 0 0 50px;
}

.flexRow--home-colecao {
    background: $orange-2 ;
}