.container--titulo-h1 {
	.wrapper--titulo-h1 {
		.heading--titulo-h1 {
			color: $primary;
			font-family: $OpenSans;
			font-size: 40px;
			font-style: normal;
			font-weight: $extra-bold;
			line-height: normal;
			margin: 20px 0;
            @include media("<phone") {
                font-size: 36px;
            }
		}
	}
}
