.flex {
  &Row {

    &--benefits-first-section-mobile {
      padding-top: 10px;
    }

    &--benefits-first-section-mobile {
      background: rgb(15, 19, 57);
      background: linear-gradient(180deg, rgba(15, 19, 57, 1) 47%, rgba(42, 53, 159, 1) 100%);
    }

    &--row-icons-benefits{
    top: 646px;
    position: absolute;
    left: 294px;

    @media (max-width: 767px) {
      position: initial;
      padding-left: 20px;
      margin-bottom: 40px;
    }
    }

    &--icons-benefits {
      position: absolute;
      left: 294px;
      top: 185px;

      @media (max-width: 767px) {
        position: initial;
        padding-top: 30px;
        padding-left: 42px;
        padding-right: 39px;
      }
    }

    &--benefits-section {
      background: rgb(15, 19, 57);
      background: linear-gradient(180deg, rgba(15, 19, 57, 1) 47%, rgba(42, 53, 159, 1) 100%);
      height: 835px
    }

    &--section-information {
      height: 630px;
      position: relative;

      @media (max-width: 767px) {
        height: 750px
      }
    }

    &--selo-section {
      padding-top: 38px;
    }

    &--section-quality-images {
      padding-left: 65px;

      @media (max-width: 767px) {
        padding-left: 0px;
      }
    }

    &--about-brand-mobile {
      background: rgb(15, 19, 57);
      background: linear-gradient(180deg, rgba(15, 19, 57, 1) 47%, rgba(42, 53, 159, 1) 100%);
    }

    &--section-title {
      background-color: #F6C06E;
      height: 72px;
      width: 100%;

      @media (max-width: 767px) {
        height: 26px;
      }
    }

    &--about-brand {
      background: rgb(15, 19, 57);
      background: linear-gradient(180deg, rgba(15, 19, 57, 1) 47%, rgba(42, 53, 159, 1) 100%);
    }

    &--amino-vital-shelf-container {
      padding-top: 44px;
      width: 100%;
      padding-bottom: 40px;
    }

    &--mobile-column-for-who {
      justify-content: center;
      display: flex;
      width: 100%;
      padding-left: 54px;
      padding-right: 54px;
    }

    &--mobile-second-column-for-who {
      justify-content: center;
      display: flex;
      width: 100%;
      padding-left: 54px;
      padding-right: 54px;
    }

    &--text-wrap {
      background-color: #071D49;
      height: 439px;
      align-items: center;
      display: flex;
      padding-top: 44px;
      padding-bottom: 64px;
    }

    &--top-message {
      background-color: #F6C06E;
      width: 100%;
      max-width: 1920px;
      height: 73px;

      @media (max-width: 767px) {
        height: 26px;
        max-width: 767px;
      }
    }

    &--wrapper-for-who-lpp {
      background-color: #091056;
      padding-top: 38px;
      padding-bottom: 38px;
    }

    &--image-check-amino {
      width: 65px !important;
      height: 65px
    }

    &--golden-bar {
      width: 100%;
      max-width: 1920px;
      height: 22px;
      background-color: #F6C06E;
    }

    &Content {

      &--icons-benefits {

        @media (max-width: 767px) {
          display: flex;
        }
      }

      &--benefits-first-section-mobile .stretchChildrenWidth{
        &:first-child{
          width: 100%;
          justify-content: flex-start;
        }
      }

      &--row-icons-benefits .stretchChildrenWidth{
        width: 100%!important;
        justify-content: center;
        display: flex;
        gap: 40px;

        @media (max-width: 767px){
          display: flex
        }
      }

      &--right-image{
        position: absolute;
        right: 0;
        max-width: 723px;
      }

      &--section-information {
        flex-flow: column;
        position: relative;
        overflow: hidden;
        background: rgb(14,62,156);
        background: radial-gradient(circle, rgba(14,62,156,1) 0%, rgba(7,29,73,1) 100%);
        display: flex;
        flex-flow: row;

        @media (max-width: 767px) {
          flex-flow: column;
        }
      }

      &--section-information {
        .stretchChildrenWidth {
          &:last-child {
            &::after {
              content: "";
              height: 943px;
              width: 943px;
              display: block;
              background: #001338;
              position: absolute;
              border-radius: 50%;
              bottom: -120%;

              @media (max-width: 767px) {
                height: 400px;
                width: 400px;
                border-radius: 50%;
                bottom: -33%
              }
            }
          }
        }
      }

      &--selo-section {

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--selo-section .stretchChildrenWidth {

        &:first-child {
          width: 50%;
          width: 100% !important;
          max-width: 177px;
          margin-right: 20px;

          @media (max-width: 767px) {
            max-width: 129px
          }
        }

        &:last-child {
          width: 100% !important;
          max-width: 666px
        }
      }

      &--section-quality-images {
        padding-top: 62px;

        @media (max-width: 767px) {
          display: flex;
          padding-left: 0px;
          justify-content: center;
          padding-top: 38px
        }
      }

      &--section-selos {
        padding-left: 295px;

        @media (max-width: 767px) {
          padding-left: 32px;
          padding-right: 32px;
        }
      }

      &--section-quality-images .stretchChildrenWidth {

        &:first-child {
          max-width: 125px;

        }

        &:last-child {
          max-width: 211px;
          padding-left: 60px
        }
      }

      &--line-about-brand-1 {
        align-items: center;

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--line-about-brand-2 {
        align-items: center;

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--line-about-brand-3 {
        align-items: center;

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--line-about-brand-4 {
        align-items: center;

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--line-about-brand-5 {
        align-items: center;

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--line-about-brand-6 {
        align-items: center;

        @media (max-width: 767px) {
          display: flex
        }
      }

      &--line-about-brand {
        align-items: center;
      }

      &--line-about-brand-1 .stretchChildrenWidth {
        &:first-child {
          width: 84px !important;
          height: 84px;

          @media (max-width: 767px) {
            max-width: 57px !important;
            max-height: 57px !important;
          }
        }

        &:last-child {
          padding-left: 31px;
          width: 100% !important;
          max-width: 515px;
          max-width: 584px
        }
      }

      &--line-about-brand-2 .stretchChildrenWidth {
        &:first-child {
          width: 84px !important;
          height: 84px;

          @media (max-width: 767px) {
            max-width: 57px !important;
            max-height: 57px !important;
          }
        }

        &:last-child {
          padding-left: 31px;
          width: 100% !important;
          max-width: 703px;
        }
      }

      &--line-about-brand-3 .stretchChildrenWidth {
        &:first-child {
          width: 84px !important;
          height: 84px;

          @media (max-width: 767px) {
            max-width: 57px !important;
            max-height: 57px !important;
          }
        }

        &:last-child {
          padding-left: 31px;
          width: 100% !important;
          max-width: 703px;
        }
      }

      &--line-about-brand-4 .stretchChildrenWidth {
        &:first-child {
          width: 84px !important;
          height: 84px;

          @media (max-width: 767px) {
            max-width: 57px !important;
            max-height: 57px !important;
          }
        }

        &:last-child {
          padding-left: 31px;
          width: 100% !important;
          max-width: 703px;
        }
      }

      &--line-about-brand-5 .stretchChildrenWidth {
        &:first-child {
          width: 84px !important;
          height: 84px;

          @media (max-width: 767px) {
            max-width: 57px !important;
            max-height: 57px !important;
          }
        }

        &:last-child {
          padding-left: 31px;
          width: 100% !important;
          max-width: 703px;
        }
      }

      &--line-about-brand-6 .stretchChildrenWidth {
        &:first-child {
          width: 84px !important;
          height: 84px;

          @media (max-width: 767px) {
            max-width: 57px !important;
            max-height: 57px !important;
          }
        }

        &:last-child {
          padding-left: 31px;
          width: 100% !important;
          max-width: 703px;
        }
      }

      &--section-title {
        max-height: 63px;
      }

      &--section-title .stretchChildrenWidth {

        @media (max-width: 767px) {
          max-height: 23px
        }
      }

      &--amino-vital-shelf-container .stretchChildrenWidth {
        width: 100% !important;
      }

      &--amino-image-shelf {
        padding-right: 277px;
        padding-left: 78px;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &--item-row-lp {
        gap: 20px;
        align-items: center;

        @media (max-width: 767px) {
          display: flex;
          max-width: 266px;
        }

        .stretchChildrenWidth {
          &:first-child {
            height: 65px;
            width: 65px !important;
          }

          &:last-child {
            width: 100% !important;
            max-width: 530px;
          }
        }
      }
    }
  }

  &Col {

    &--benefits-first-section{
      position: relative;
    }

    &--text-section {
      padding-left: 277px;
      padding-right: 288px;

      @media (max-width: 768px) {
        padding: 0 15px
      }
    }

    &Child {

      &--col-second-icon-benefit-1{
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          height: 100%;
          max-width: 41px;
          max-height: 41px;
        }
      }

      &--col-second-icon-benefit-2{
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          height: 100%;
          max-width: 41px;
          max-height: 41px;
        }
      }

      &--col-second-icon-benefit-3{
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          height: 100%;
          max-width: 41px;
          max-height: 41px;
        }
      }

      &--col-second-icon-benefit-4{
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          height: 100%;
          max-width: 41px;
          max-height: 41px;
        }
      }

      &--col-second-icon-benefit-5{
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          height: 100%;
          max-width: 41px;
          max-height: 41px;
        }
      }

      &--col-icon-benefit-1{
        height: 100%;
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          align-items: center
        }
      }

      &--col-icon-benefit-2{
        height: 100%;
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          align-items: center
        }
      }

      &--col-icon-benefit-3{
        height: 100%;
        justify-content: center;
        display: flex;

        @media (max-width: 767px) {
          align-items: center
        }
      }

      &--benefits-first-section{
        padding-top: 57px;
      }

      &--text-information-col{

        @media (max-width: 767px){
          padding-top: 24px;
        }
      }

      &--col-images-quality-1 {
        max-width: 125px;
      }

      &--col-images-quality-2 {
        max-width: 123px;
      }

      &--col-images-quality-3 {
        max-width: 211px;
      }

      &--col-images-quality-4 {
        max-width: 147px;
      }

      &--item-quality-1 {
        max-width: 125px;
        justify-content: center;
        display: flex
      }

      &--item-quality-2 {
        max-width: 123px;
        justify-content: center;
        display: flex
      }

      &--item-quality-3 {
        max-width: 211px;
        justify-content: center;
        display: flex
      }

      &--item-quality-4 {
        max-width: 147px;
        justify-content: center;
        display: flex
      }

      &--brand-col {
        justify-content: flex-start;
        display: flex;
        align-items: center;
      }

      &--cols-for-who {
        justify-content: flex-start;
        display: flex;
        padding-left: 334px;

        @media (max-width: 767px) {
          padding-left: 0px;
        }
      }
    }

    &--cols-for-who-second {
      justify-content: flex-start;
      display: flex;
      padding-right: 334px;
      padding-left: 100px;

      @media (max-width: 767px) {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }
}

.sliderLayoutContainer {
  &--carousel {
    background-color: #0F1339;
  }
}