.paragraph {

  &--text-1-quality{
    font-family: $Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  &--text-2-quality{
    font-family: $Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  &--text-3-quality{
    font-family: $Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  &--text-4-quality{
    font-family: $Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  &--text-aminoacid{
    font-family: $Inter;
    font-size: 20px;
    font-weight: 400;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &--text-title{
    font-family: $Roboto;
    color: #091056;
    font-size: 54px;
    font-style: italic;
    max-height: 63px;
    font-weight: $extra-bold;

    @media (max-width: 767px) {
      font-size: 20px;
      max-height: 23px;
    }
  }

  &--brand-text-1{
    color: $white;
    font-family: $Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    line-height: 35px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px
    }
  }

  &--brand-text-2{
    color: $white;
    font-family: $Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    line-height: 35px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px
    }
  }

  &--brand-text-3{
    color: $white;
    font-family: $Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    line-height: 35px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px
    }
  }

  &--brand-text-4{
    color: $white;
    font-family: $Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    line-height: 35px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px
    }
  }

  &--brand-text-5{
    color: $white;
    font-family: $Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    line-height: 35px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px
    }
  }

  &--brand-text-6{
    color: $white;
    font-family: $Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    line-height: 35px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px
    }
  }

  &--amino-text-title {
    font-size: 60px;
    font-family: $Inter;
    font-weight: $extra-bold;
    color: $white;
    padding-top: 44px;

    @media (max-width: 767px) {
      font-size: 22px;
    }
  }

  &--amino-text {
    font-size: 28px;
    font-family: $Inter;
    color: $white;
    font-weight: $light;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &--text-top-message {
    color: #091056;
    font-family: $Roboto;
    font-size: 54px;
    font-weight: $extra-bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;

    @media(max-width: 767px){
      font-size: 20px;
    }
  }

  &--item-text-lp {
    color: white;
    font-family: $Inter;
    font-size: 24px;
    font-weight: 400;
    text-align: left
  }
}

.wrapper {

  &--amino-text-title {}

  &--amino-text {}
}

.container {

  &--title-information-about {
    background-color: #F8C169
  }

  &--amino-text-title {
    height: 73px;

    @media (max-width: 767px) {
      height: 27px;
    }
  }

    &--amino-text {
      height: 238px;
      margin-top: 20px;

      @media (min-width: 768px){
        height: auto;
    }
  }

  &--text-top-message {
    background-color: F6C06E;
  }

  &--item-text-lp{
    justify-content: flex-start;
  }
}

.strong {

  &--title-aminoacid {
    font-family: $Inter;
    color: #E0040B;
    font-weight: 300;
    font-style: italic;
    font-size: 48px;

    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
}

.italic {

  &--title-aminoacid {
    font-family: $Inter;
    font-size: 24px;
    font-weight: 300;

    @media (max-width: 767px) {
      font-size: 16px
    }
  }
}