.slideChildrenContainer {

  &--carousel-amino-brand {

    @media (max-width: 767px) {
      padding-left: 24px;
      padding-right: 109px;
    }
  }

}

.sliderTrackContainer {
  &--carousel {
    background-color: #0F1339;
    padding-bottom: 63px
  }
}

.paginationDotsContainer {
  &--carousel {
    bottom: 33px !important
  }

  &--carousel-amino-brand {
    @media (max-width: 767px) {
      bottom: 0px!important
    }
  }
}

.sliderLayoutContainer {
  &--shelf-amino-vital {
    padding-left: 287px;

    @media (max-width: 969px) {
      padding-left: 0px
    }
  }
}

.sliderRightArrow {
  &--shelf-amino-vital {
    right: -17px !important;
  }
}

.sliderLeftArrow {
  &--shelf-amino-vital {
    left: 260px !important
  }
}

.paginationDotsContainer {
  &--shelf-amino-vital {
    left: 250px !important;

    @media(max-width: 767px) {
      display: flex;
      justify-content: center;
      width: 100%;
      left: 0px!important;
      bottom: -20px!important
    }
  }
}

.slide{

  &--carousel-amino-brand--visible{

    @media (min-width: 767px) and (max-width: 969px) {
      width: 0%!important
    }
  }
}