.imageElement {

  &--main-banner-desktop {
    @media (max-width: 767px) {
      display: none;
      width: 0px;
    }
  }

  &--main-banner-mobile{
    @media (min-width: 768px) {
      display:none;
      max-height: 500px;
      width: 100%;
    }
  }

  &--image-check{
    width: 65px;
    height: 65px;
  }

  &--image-left-amino{
    max-width: 888px;
    width: 100%;
  }
}