.imageElement {

  &--image-amino-vital {
    position: relative;
    z-index: 10;

    @media (max-width: 767px) {
      max-width: 239px;
    }
  }

  &--brand-image-1 {

    @media (max-width: 767px) {
      max-width:57px!important;
      max-height: 57px!important;
    }
  }

  &--brand-image-2 {

    @media (max-width: 767px) {
      max-width:57px!important;
      max-height: 57px!important;
    }
  }

  &--brand-image-3 {

    @media (max-width: 767px) {
      max-width:57px!important;
      max-height: 57px!important;
    }
  }

  &--brand-image-4 {

    @media (max-width: 767px) {
      max-width:57px!important;
      max-height: 57px!important;
    }
  }

  &--brand-image-5 {

    @media (max-width: 767px) {
      max-width:57px!important;
      max-height: 57px!important;
    }
  }

  &--brand-image-6 {

    @media (max-width: 767px) {
      max-width:57px!important;
      max-height: 57px!important;
    }
  }

  &--main-banner-desktop {
    @media (max-width: 767px) {
      display: none;
      width: 0px;
    }
  }

  &--main-banner-mobile{
    @media (min-width: 768px) {
      display:none;
      max-height: 500px;
      width: 100%;
    }
  }

  &--image-check{
    width: 65px;
    height: 65px;
  }

  &--image-left-amino{
    max-width: 888px;
    width: 100%;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--section-information){
  .container{
    padding: 0;
  }
}