.flex{
  &Row {
    &--info-card-products {
      max-width: 1338px;
      margin: 0 auto;
    }

    &Content {
      &--info-card-row {
        display: flex;
        gap: 30px;
      }
    }

    &--lp-black-friday-wrapper {
      background: url('https://lojaajinomoto.vtexassets.com/assets/vtex.file-manager-graphql/images/d0bd7cdc-50e9-482b-b9eb-9436804a43cf___c87160de47178e1e1d908817d202a010.jpg');
    }
  }
}
