.infoCardContainer {
  &--info-card-produto {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid $primary;
    border-radius: 10px;
    padding: 43px 20px 13px 20px;
    background: $black;

    .infoCard{

      &ImageContainer {
        width: fit-content;

        .infoCardImage {
          height: 350px;
          border-radius: 6px;
        }
      }

      &TextContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        .infoCard{

          &Subhead {
            color: $white;
            font-size: 24px;
            font-weight: $semi-bold;
          }

          &CallActionContainer {
            margin: 0;
            margin-bottom: 8px;
            width: 38px;
            height: 38px;
            border-radius: 4px;
            text-decoration: none;
            background: url("data:image/svg+xml,%0A%3Csvg width='39' height='38' viewBox='0 0 39 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' width='38' height='38' rx='5' fill='%234AA262'/%3E%3Cpath d='M21.5399 8.30093C21.522 8.29989 21.5042 8.29989 21.4863 8.30093C21.3371 8.31371 21.2029 8.39642 21.1249 8.52374C21.047 8.65106 21.0344 8.80769 21.0909 8.9459L23.7472 15.7476H14.6068L17.2633 8.9459H17.2636C17.3241 8.79743 17.3043 8.62844 17.2112 8.49777C17.118 8.3671 16.9646 8.29277 16.8039 8.30093C16.6139 8.30847 16.4471 8.42908 16.3811 8.60687L13.0941 17.041C13.0817 17.0682 13.0718 17.0964 13.0649 17.1253C12.8371 17.0108 12.7426 16.7361 12.8516 16.5061L13.1477 15.7475H6.94126C6.41979 15.7475 6 16.1659 6 16.6856V17.1547C6 17.6744 6.41979 18.0928 6.94126 18.0928H31.414C31.9355 18.0928 32.3553 17.6744 32.3553 17.1547V16.6856C32.3553 16.1659 31.9355 15.7475 31.414 15.7475H25.2001L25.4961 16.5061C25.5865 16.7287 25.4936 16.9831 25.281 17.096C25.2755 17.0772 25.2688 17.0587 25.2612 17.0407L21.9742 8.60665C21.9072 8.42447 21.7347 8.30218 21.5401 8.29883L21.5399 8.30093Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.35303 19.0323L10.6713 29.0419C10.9669 30.3182 12.1087 31.2224 13.4235 31.2224H24.93C26.2448 31.2224 27.3865 30.3182 27.6821 29.0419L30.0004 19.0323H8.35303ZM12.8205 21.6048C13.0499 21.6021 13.248 21.7646 13.2892 21.9897L14.4622 27.842C14.4935 27.9668 14.4721 28.0992 14.4028 28.2078C14.3334 28.3163 14.2223 28.3919 14.0956 28.4164C13.9689 28.4411 13.8374 28.4128 13.7323 28.3381C13.6271 28.2635 13.5573 28.149 13.5392 28.0215L12.3646 22.1761C12.3356 22.0469 12.3627 21.9114 12.4393 21.8031C12.516 21.6949 12.6352 21.6241 12.7671 21.6082C12.785 21.6071 12.8028 21.6071 12.8209 21.6082L12.8205 21.6048ZM16.8061 21.6048C17.0534 21.5958 17.2656 21.7792 17.2915 22.0244L17.9993 27.8768C18.0182 28.0028 17.9852 28.1312 17.9077 28.2325C17.83 28.3339 17.7144 28.3996 17.5873 28.4145C17.4602 28.4294 17.3326 28.3921 17.2335 28.3115C17.1343 28.2309 17.0723 28.1136 17.0616 27.9865L16.3594 22.1341L16.3592 22.1344C16.3256 21.8785 16.5055 21.6435 16.762 21.6085C16.7767 21.6077 16.7914 21.6077 16.8061 21.6085L16.8061 21.6048ZM25.5254 21.6048C25.6694 21.6031 25.8061 21.667 25.8969 21.7784C25.9874 21.89 26.0219 22.0366 25.9906 22.1765L24.8159 28.0218H24.8157C24.793 28.145 24.7216 28.2541 24.6178 28.3244C24.5138 28.395 24.386 28.4212 24.2625 28.3973C24.1392 28.3734 24.0305 28.3012 23.9608 28.1971C23.891 28.0928 23.866 27.9651 23.891 27.8424L25.0657 21.99C25.1033 21.7869 25.2699 21.6319 25.4758 21.6089C25.4924 21.6079 25.509 21.6079 25.5256 21.6089L25.5254 21.6048ZM21.5251 21.6048C21.6604 21.6044 21.7896 21.6619 21.8793 21.7629C21.969 21.864 22.0108 21.9987 21.9938 22.1325L21.2934 27.9848H21.2936C21.2631 28.2434 21.028 28.4283 20.7685 28.398C20.5093 28.3676 20.3235 28.1333 20.354 27.8749L21.0635 22.0225H21.0637C21.0879 21.8014 21.2646 21.6278 21.4864 21.6065C21.4994 21.606 21.5123 21.606 21.5253 21.6065L21.5251 21.6048Z' fill='white'/%3E%3C/svg%3E "), no-repeat, center;
          }
        }
      }
    }
  }
}
