@import "./variables/all";

@import "./modules/header/store-components";

@import "./modules/footer/store-components";

@import "./modules/home/store-components";

@import "./modules/product/store-components";

@import "./modules/search/store-components";

@import "./modules/institucional/store-components";

@import "./modules/minicart/store-components";

@import "./modules/error/store-components";

@import "./modules/food-service/store-components";

@import "./modules/LPS/black-friday/infocard-products/store-components";

@import "./modules/LPS/bbb/seo-section/store-components";

@import "./modules/LPS/manioca/store-components";

@import "./modules/LPS/amino-vital/store-componentes";

@import "./modules/LPS/black-friday/ofertas-marcas/store-components";

@import "./modules/LPS/one-piece/middle-text/store-components";

@import "./modules/LPS/one-piece/main-banner/store-components";

@import "./modules/LPS/one-piece/second-slider/store-components";

@import "./modules/LPS/one-piece/recipes-container/store-components";

.container  {
    max-width: 1920px;
    margin: 0 auto;
    @include media("<=desktop") {
        max-width: 1366px;
    }
}
