@import "./variables/all";

@import "./modules/home/slider-layout";

@import "./modules/shelf/slider-layout";

@import "./modules/food-service/slider-layout";

@import "./modules/LPS/black-friday/ofertas-marcas/slider-layout";

@import "./modules/LPS/black-friday/infocard-products/slider-layout";

.paginationDotsContainer {
    bottom: -15px;
    .paginationDot {
        border-radius: 10px;
        border: 1px solid $primary;
        background: $white;
        height: 10px;
        width: 10px;
        &--isActive {
            background: $primary;
        }
    }
}

.sliderArrows  {
    margin: 0;
    &.sliderLeftArrow  {
        left: -40px;
    }

    &.sliderRightArrow  {
        right: -40px;
    }

    .caretIcon {
        color: $primary;
    }

    &:disabled {
        .caretIcon {
            opacity: 0.65;
        }
    }
}

