.flexCol {

    &Child {

        &--lp-op-col-prateleira {
            max-width: 1234px;
            margin: 0 auto;

            @media (max-width: 1025px) {
            padding: unset
            }
        }
    }
}