.headingLevel2{
    &--shelf-titles-lp-op{
        font-family: $OpenSans;
        font-weight: 800;
        font-size: 35px;
        line-height: 47px;
        text-align: center;
        color: $white;
    }
}