@import "../../../styles/scss/variables/all";

.wrapper-description-amino-vital{
	display: block;
	padding: 13px;

	.text-description-amino-vital {
		font-size: 15px;
		font-weight: 400;
		line-height: normal;
		color: #8E8E93;
	}
}